.blog-style{
    box-shadow: 4px 4px 7px rgb(90, 88, 88);
    background-color:rgb(217, 236, 229);
    border: 1px 5px 5px solid rgb(32, 56, 32);
    max-height: 475px;
    margin-bottom: 10px;
    margin-left: 15px;
   
}
.blog-title{
    color:rgb(14, 3, 53);
    font-weight: bold;
}